/* 
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif; 
*/

body {
    font-family: 'Poppins', sans-serif
}

header, main {
    max-width: 1200px;
    margin: 0 auto; 
    background-color: antiquewhite;
}

h1, h2 {
    font-family: 'pacifico', cursive;
}

.fa-folder {
    font-size: 6rem;
    color: darkorchid;
}

.map iframe  {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
}











body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #222;
    background-color: #fff;
}

/* Header and Nav Styles */
header {
    padding: 10px;
    text-align: center;
    background-color: #222;
    color: #c78c06; 
}

.nav-list a {
  text-decoration: none;
  color: #c78c06;
}

form .material-symbols-outlined {
    color: #c78c06; 
    background-color: #222;
    border: 1px solid #c78c06;
}

.btn {
    display: block;
    width: 25%;
    padding: 10px;
    text-align: center;
    background-color: #c78c06;
    color: #222;
    text-decoration: none;
    font-size: 16px;
}

.btn .material-symbols-outlined {
    color: #222;
}

/* Banner Styles */
h1 {
    background-color: transparent;
    color: white;
    font-size: 72px;
    font-weight: bold;
}
main, h1, p {
    color: #fff;
}

.banner {
    text-align: left;
    color: #fff;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.5); 
    position: relative;
    left: 50%;
    transform: translate(-50%, -170%);
}

 /* Table styles */
 .hours-wrapper h4 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
 }

 table {
    width: 75%;
    border-collapse: collapse;
    margin: o auto;
    background-color: #fff;
    color: #222;
}

thead {
    background-color: #ffe6ac;
    color: #222;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #222;
  }

/* Footer styles */
footer p {
    color: #c78c06;
    text-align: left;
    padding: 10px;
    background-color: #222;
}

/* About us Styles */
.about img{
    max-width: 100%;
}

.about {
    color: #222;
    font-weight: bold;
    font-size: 32px;
    padding: 10px;
    background-color: #ffe6ac;
}

.about p {
    color: #222;
    font-weight: lighter;
    font-size: 16px;
    padding: 10px;
}

h2 {
    color: #222;
    font-weight: bold;
    font-size: 46px;
}

.card img {
    max-width: 100%;
}

.card {
    background-color: #ffe6ac;
    color: #222;
    font-weight: bold;
    font-size: 32px;
    padding: 10px;
}

.card p {
    color: #222;
    font-weight: lighter;
    font-size: 16px;
    padding: 10px;
}

/* Vision Styles */
.vision {
    background-color: #ffe6ac;
    color: #222;
    font-weight: bold;
    font-size: 32px;
    padding: 10px;
}

.vision p {
    color: #222;
    font-weight: lighter;
    font-size: 16px;
    padding: 10px;
}

/* Our Team Styles */
.john {
    background-color: #ffe6ac;
    color: #222;
    font-weight: bold;
    font-size: 32px;
    padding: 10px;
}

.john p {
    color: #222;
    font-weight: lighter;
    font-size: 16px;
    padding: 10px;
}

.Bob {
    background-color: #ffe6ac;
    color: #222;
    font-weight: bold;
    font-size: 32px;
    padding: 10px;
}

.Bob p {
    color: #222;
    font-weight: lighter;
    font-size: 16px;
    padding: 10px;
}

/* Contact Form Styles */
.contactform, h2 {
    font-size: 32px;
    font-weight: bold;
}

.contactform, h3 {
    font-size: 24px;
    font-weight: bold;
}

.contactform {
    color: #222;
    font-size: 16px;
    font-weight: lighter;
    padding: 10px; 
}

input[type="text"] {
    width: 700px; 
}

input[type="email"] {
    width: 700px; 
}

textarea {
    width: 700px;
}

/* Map Styles */
.location-wrapper {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}

/* Media query for screens 760px and above */
@media (min-width: 760px) {
    .nav-list li {
        display: inline-block;
        margin-right: 10px;
    }
  
    header, .mobile-logo {
        display: flex;
        align-items: center;
        align-content: space-evenly;
        padding-right: 5%;
    }

    input[type="text"] {
        width: 200px; 
    }
}












.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #222;
    text-align: center;
}

.mobile-logo {
    max-width: 1500px;
}

.main-nav .nav-list a {
    text-decoration: none;
    color: #c78c06;
}

form .material-symbols-outlined {
    color: #c78c06; 
    background-color: #222;
    border: 1px solid #c78c06;
}
