body {
    margin: 0;
    padding: 0;
    background-color: #aad4cf;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    background-image: url(../images/lone-starfish-wide.jpg); 
    background-size: cover;
    height: 50vh; 
    text-align: center;
    color: white; 
}

h1 {
    font-size: 63px; 
    position: relative;
    transform: translate(5%, 5%);
    padding: 125px;
    font-weight: normal;
   
}

nav {
    background-color: #aad4cf; 
    text-align: center;
}

nav ul li {
    list-style: none;
    width: 27%;
    padding: 1em;
    text-transform: uppercase;
    border-right: 1px solid black; 
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav li:last-child {
    border-right: none;
    padding-right: 0;
}

.container {
    align-items: center;
    height: 20vh;
    max-width: 1100px;
    margin: 0 auto;
}

nav, main, footer, header {
    background-color: #d6f6f2;
    padding: 2em;
}

img {
    width: 200px;
    float: left;
    margin: 10px;
}

form {
    border: 1px solid black;
    padding: 1.5rem;
    box-sizing: border-box;
}

footer {
    text-align: right;
}

input[type="text"] {
    width: 800px; 
}

input[type="email"] {
    width: 800px; 
}

textarea {
    width: 800px;
}