/* Global Styles */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    line-height: inherit;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    width: 100%;
}

/* Link, Visted. Hover/focus, Active */
a, 
a:link,
a:visited {
    color: inherit;
}

a:hover,
a:focus {
    color: #c78c06;
}

h1, 
h2, 
h3,
h4 {
    font-weight: bold;
    margin: 0 auto
}

/* Font sizes are proportionate to eachother: www.modularscale.com */
h1 {
    font-size: 5.063rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

/* Header Styles */
.mobile-logo {
    max-width: 150px;
}

.desktop-logo {
    display: none;
}

.banner {
    background: rgba(0, 0, 0, 0.5); 
    position: relative;
    left: 50%;
    transform: translate(-50%, -100%);
}

.banner h1 {
    margin: 0 auto;
    text-align: left;
    color: #fff;
}

.banner p {
    margin: 0 auto;
    text-align: left;
    color: #fff;
}

/* Navigation Styles */
.nav-list a {
    text-decoration: none;
    color: #c78c06;
    background-color: #222;;
}
.nav-list a, 
.nav-list :link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-align: center;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current {
    background-color: #c78c06;
    color: inherit;
}

/* Connect with us Button Style */
.btn {
    text-decoration: none;
    display: block;
    background-color: #c78c06;
    padding: 10px;
    width: 25%;
}

/* Footer styles */
footer p {
    color: #c78c06;
    text-align: left;
    padding: 10px;
    background-color: #222;
}

/* Our Services Styles */
.card {
    border: 2px solid #ffe6ac;
    border-radius: 6px;
    margin-bottom: 1em;
    background-color: #ffe6ac;
}

.card .info {
    padding: 1em;
}

.card h3 {
    margin-top: 0 auto; 
}

/* Our Steam Styles */
.john {
    border-top: 2px solid #ffe6ac;
    margin-top: 4em;
    background-color: #ffe6ac;
}

.Bob {
    border-top: 2px solid #ffe6ac;
    margin-top: 4em;
    background-color: #ffe6ac;
}

/* Contact Us Form Styles */
.contactform, h2 {
    font-size: 32px;
    font-weight: bold;
}

.contactform, h3 {
    font-size: 24px;
    font-weight: bold;
}

.contactform {
    color: #222;
    font-size: 16px;
    font-weight: lighter;
    padding: 10px; 
}

input[type="text"] {
   width: 600px;
}

input[type="email"] {
    width: 600px; 
}

textarea {
    width: 600px;
}

/* Table styles */
.hours-wrapper h4 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
 }

 table {
    width: 75%;
    border-collapse: collapse;
    margin: o auto;
    background-color: #fff;
    color: #222;
}

thead {
    background-color: #ffe6ac;
    color: #222;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #222;
  }

  /* Desktop Styles */