body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #222;
    background-color: #fff;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header styles */
header {
    padding: 10px;
    text-align: center;
    background-color: #222;
    color: #c78c06; 
}

.mobile-logo {
    width: 100px;
    height: auto;
    background-color: #c78c06;
}

.main-nav {
    margin-top: 10px;
}

.nav-list {
    list-style: none;
    padding: 0;
    text-align: center; 
}

.nav-list li {
    display: block;
    margin-right: 10px;
}
.nav-list a {
  text-decoration: none;
  color: #c78c06;
}

nav ul li:nth-child(1) {
  background-color: #c78c06;
  
}

/* Main content styles */
.content {
    padding: 20px;
}

/* Intro section styles */
.intro {
    margin-bottom: 20px;
}

.intro img {
    width: 100%;
    height: auto;
}

.banner {
    text-align: center;
    background-color: #c78c06;
    color: #fff;
    padding: 10px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #c78c06;
    color: #fff;
    text-decoration: none;
}

/* Cards section styles */
.cards {
    display: grid;
    gap: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #c78c06;
    color: #fff;
}

.iframe {
    margin: 0 auto;
    max-width: 1200px;
}

/* Media query for screens 760px and above */
@media (min-width: 760px) {
    .nav-list {
        text-align: left;
    }

    .nav-list li {
        display: inline-block;
        margin-right: 10px;
    }

  .nav-list a {
        text-decoration: none;
        color: #c78c06; 
    }

    .nav-list a:hover {
        color: #C78c06;
    }
}

 /* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: o auto;
    background-color: #fff;
    color: #222;
}

thead {
    background-color: #ffe6ac;
    color: #222;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #222;
  }